<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User {{ user.id }}</h1>
        <h3>Full Name: {{ user.name }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Created At: {{ user.created_at }}</h3>

        <a href="/users/{{ user.id }}/edit">Edit</a>
        <a href="/users/{{ user.id }}/delete">Delete</a>
        <a href="/users">Back</a>
</body>
</html>